:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  border: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
}

.paper {
  background-color: #fff;
  width: 500px;
  border-radius: 5px;
  padding: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.dish-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 30px;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #fff;
  color: #242424;
}

.inputBox {
  color: var(--main-blue);
  font-size: 20px;
}

.prep-time {
  padding: 0;
  width: 200px;
  height: 30px;
}

h1 {
  color: #fff;
  font-size: 60px;
  margin: 20px;
  text-align: center;
}

.dish-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.selectBox {
  display: flex;
  flex-direction: column;
  color: var(--main-blue);
  font-size: 20px;
  text-align: center;
}

select {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #fff;
  color: #242424;
  width: 200px;
  height: 30px;
}

.pizza-choices,
.soup-choices,
.sandwich-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  grid-area: span 2/ span 3;
}

.slices,
.diameter,
.spice-scale,
.bread-slices {
  color: #242424;
  width: 200px;
  height: 30px;
  padding: 0;
}

.button {
  height: 45px;
  grid-area: span 1/span 2;
}

.button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
  cursor: pointer;
}