:root {
  --label-color: #71b7e6;
  --main-gradient: #9b59b6;
  --text-color: #242424;
  --background-color: #ffff;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  border: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--label-color), var(--main-gradient));
}

.paper {
  background-color: var(--background-color);
  width: 500px;
  border-radius: 5px;
  padding: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.dish-name,
.prep-time {
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: var(--background-color);
}

.input-class {
  width: 100%;
  height: 45px;
  display: block;
  padding: 2px 8px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

h1 {
  color: var(--background-color);
  font-size: 60px;
  margin: 20px;
  text-align: center;
}

.dish-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.select-label,
.input-label {
  color: var(--label-color);
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}

select {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.slices,
.diameter,
.spice-scale,
.bread-slices {
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0;
}

.button {
  height: 45px;
  grid-area: span 1/span 2;
}

.button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: var(--background-color);
  border: none;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--label-color), var(--main-gradient));
  transition: all 0.3s ease;
  cursor: pointer;
}

.text-confirmation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--main-gradient);
  font-size: 30px;
  gap: 20px;
}

.send-another {
  height: 45px;
  width: 100%;
  outline: none;
  color: var(--background-color);
  border: none;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--label-color), var(--main-gradient));
  cursor: pointer;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--label-color);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: var(--background-color);
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px var(--label-color);
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--label-color);
  }
}